# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Editor / IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Env variables
.env

# Logs
*.log
